#main {
    width: 600px;
    height:453px;
    position:relative;
}
.nofeedback {
    background-image:url("opamp.png");
}
.feedback {
    background-image:url("follower.png");
}
#main input {
    position:absolute;
    border:1px solid;
    width:60px;
    font-size:125%;
    padding-left:10px;
}   
#vinp {
    left:10px; top:145px;
}
#vinn {
    left:10px; top:275px;
}
#vpp {
    left: 290px; top:30px; background-color: #aaf;
}
#vpn { 
    left: 290px; bottom: 20px; background-color: #faa;
}
#vout {
    left: 530px; top:215px;
}
.max {background-color: #aaf;}
.min {background-color: #faa;}
