#sidescroller {position:fixed;
                 width:8000;
                 height:200;
                 top:40px;
                 left:0px;
                 background-color:#ddf;
                 overflow:scroll-x;
                 flex-wrap:nowrap;
                 wrap:none;
                 display:flex;
              }
.narrow{width:400px !important;}
#background {width:400px;
             height:1200px;
          
         }
  #buttons {position:fixed;
            height:40px;
            top:0px;
            left:0px;
            width:100%;
            display:flex;
            padding-top:5px;
            background: rgb(215,174,238);
            background: linear-gradient(45deg, rgba(215,174,238,1) 0%, rgba(251,251,251,1) 68%, rgba(215,174,238,1) 100%);

           }

  #buttons>.button {
      display:inline;
      min-width:40px;
      background: rgb(215,174,238);
      background: radial-gradient(ellipse at 40% 25%, rgb(215, 174, 238) 0%, rgb(251, 200, 251) 70%,rgb(215, 174, 238) 80%);
/*      background: radial-gradient(circle at 25% 25%, rgba(215,174,238,1) 0%, rgba(251,251,251,1) 68%, rgba(215,174,238,1) 100%);*/
      border-radius:10px 10px 0px 0px;
      border:3px solid purple;

      padding:20px;
      margin-left:10px;
      margin-rigth:10px;
      text-align:center;
      display:flex;
      align-items:center;
      cursor:pointer;
      position:relative;
  }
