<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<link rel="stylesheet" href="index.css">
<script src="../../lib/jquery.js"></script>
<script src="../../lib/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>
<script src="../../lib/raphael.min.js"></script>
<script src="index.js"></script>
<div id="component" style="display:inline-block">
<h1></h1>
<div id="win">
Final score:
<div id="percentage">x</div>
<div class="click fill">Try again?</div>
</div>
<div class="number">1 of 20</div>
<div id="score">0 errors</div>
<div id="canvas"></div>
<div id="input">

<span id="x" class="click sign">+</span>
<span class="magnitude">v</span>
<span id="xtrig" class="click trig">cos</span>
<span class="angle">20</span>&deg;
\(\hat x\;\)

<span id="y" class="click sign">+</span>
<span class="magnitude">v</span>
<span id="ytrig" class="click trig">sin</span>
<span class="angle">20</span>&deg;
\(\hat y\)
<span id="check" class="click fill">OK?</span>
</div>
<img src="ButtonInfo.png" width=510px style="margin-left:-10px">
</div>
<img width=400px src="Instructions.png" style="vertical-align:top; border:3px inset; display:inline-block">

