@import url("../lib/default.css");
.mybutton {
    background-color: var(--main-color);
    width:100px;
}
body {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
//body {text-align:left;display:inline-block;}
main {
    display:inline-block;
    position:relative;
    text-align:center;
    width:400px;
    border: 1px solid var(--text-color);
    padding-bottom:10px;
    margin-bottom: 20px;
}
.score {
    background-color: var(--main-color);
    display:inline-block;
    color: var(--bg-color);
    width: 100%;
    padding: 10px 0px;
}
.numbers>span:first-child {color: var(--right-color);}
.question {font-size: 150%;}
.reaction {font-size: 200%;}
.reaction.right {color: var(--right-color);}
.reaction.wrong {color: var(--wrong-color);}
//#uber {display:flex;}

.mybutton {width:150px;}
