#help {margin: auto; width: 550px;height:400px;
       position:relative;margin-left:5px;}
#help img {width:500px;margin:auto;margin-top:40px;}

#help .header {
    position:absolute;
    cursor: pointer;
    z-index: 1;
    display:inline-block;
    color: var(--bg-color);
}
#help .arrow {
    font-size: 300%;
    top: -18px;
    z-index: 3;
}
#help .title {
    font-size: 24px;
    width:100%;
    z-index:1;
    top:0px;
    margin:0px;
    text-align:center;
}

